/*---------------------
  Categories
-----------------------*/
.section-title {
    margin-bottom: 50px;
    text-align: center;
}

.section-title h2:after {
    position: absolute;
    left: 0;
    top: 40px;
    right: 0;
    height: 4px;
    width: 80px;
    background: #7fad39;
    content: "";
    margin: 0 auto;
}

.categories__item {
    height: 270px;
    position: relative;

    h5 {
        position: absolute;
        left: 0;
        width: 100%;
        padding: 0 20px;
        bottom: 20px;
        text-align: center;

        a {
            font-size: 18px;
            color: #1c1c1c;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 2px;
            padding: 12px 0 10px;
            background: #ffffff;
            display: block;
        }
    }
}

.categories__slider {

    .col-lg-3 {
        max-width: 100%;
    }

    &.owl-carousel {

        .owl-nav {

            button {
                font-size: 18px;
                color: #1c1c1c;
                height: 70px;
                width: 30px;
                line-height: 70px;
                text-align: center;
                border: 1px solid #ebebeb;
                position: absolute;
                left: -35px;
                top: 50%;
                -webkit-transform: translateY(-35px);
                background: #ffffff;

                &.owl-next {
                    left: auto;
                    right: -35px;
                }
            }
        }
    }
}

/*---------------------
  Featured
-----------------------*/
.featured {
    padding-top: 40px;
    padding-bottom: 40px;
}

.featured__controls {
    text-align: center;
    margin-bottom: 50px;

    ul {

        li {
            list-style: none;
            font-size: 18px;
            color: #1c1c1c;
            display: inline-block;
            margin-right: 25px;
            position: relative;
            cursor: pointer;

            &.active {

                &:after {
                    opacity: 1;
                }
            }

            &:after {
                position: absolute;
                left: 0;
                bottom: -2px;
                width: 100%;
                height: 2px;
                background: #7fad39;
                content: '';
                opacity: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.featured__item {
    margin-bottom: 50px;

    &:hover {

        .featured__item__pic {

            .featured__item__pic__hover {
                bottom: 20px;
            }
        }
    }
}

.featured__item__pic {
    height: 270px;
    position: relative;
    overflow: hidden;
    background-position: center center;
}

.featured__item__pic__hover {
    position: absolute;
    left: 0;
    bottom: -60px;
    width: 100%;
    text-align: center;


    li {
        list-style: none;
        display: inline-block;
        margin-right: 6px;

        &:last-child {
            margin-right: 25px;
        }

        &:hover {

            a {
                background: #7fad39;
                border-color: #7fad39;


            }
        }

        a {
            font-size: 16px;
            color: #1c1c1c;
            height: 40px;
            width: 40px;
            line-height: 40px;
            text-align: center;
            border: 1px solid #ebebeb;
            background: #ffffff;
            display: block;
            border-radius: 50%;


            i {
                position: relative;
                transform: rotate(0);

            }
        }
    }
}

.featured__item__text {
    text-align: center;
    padding-top: 15px;

    h6 {
        margin-bottom: 10px;

        a {
            color: #252525;
        }
    }

    h5 {
        color: #252525;
        font-weight: 700;
    }
}

/*---------------------
  Latest Product
-----------------------*/
.latest-product {
    padding-top: 80px;
    padding-bottom: 0;
}

.latest-product__text {

    h4 {
        font-weight: 700;
        color: #1c1c1c;
        margin-bottom: 45px;
    }
}

.latest-product__slider {

    &.owl-carousel {

        .owl-nav {
            position: absolute;
            right: 20px;
            top: -75px;

            button {
                height: 30px;
                width: 30px;
                background: #F3F6FA;
                border: 1px solid #e6e6e6;
                font-size: 14px;
                color: #636363;
                margin-right: 10px;
                line-height: 30px;
                text-align: center;

                span {
                    font-weight: 700;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

.latest-product__item {
    margin-bottom: 20px;
    overflow: hidden;
    display: block;
}

.latest-product__item__pic {
    float: left;
    margin-right: 26px;

    img {
        height: 110px;
        width: 110px;
    }
}

.latest-product__item__text {
    overflow: hidden;
    padding-top: 10px;

    h6 {
        color: #252525;
        margin-bottom: 8px;
    }

    span {
        font-size: 18px;
        display: block;
        color: #252525;
        font-weight: 700;
    }
}

/*---------------------
  Form BLog
-----------------------*/
.from-blog {
    padding-top: 50px;
    padding-bottom: 50px;

    .blog__item {
        margin-bottom: 30px;
    }
}

.from-blog__title {
    margin-bottom: 70px;
}

.ftco-section {
    padding: 2em 0;
    position: relative;
}

.text-center {
    text-align: center !important;
}

.product-category {
    li {
        display: inline-block;
        font-weight: 400;
        font-size: 16px;

        a {
            color: #7fad39;
            padding: 5px 20px;
            border-radius: 5px;

            &.active {
                background: #7fad39;
                color: #ffffff;
            }
        }
    }
}

.product {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    border: 1px solid lighten(#000000, 94%);


    .img-prod {
        position: relative;
        display: block;
        overflow: hidden;

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            opacity: 0;
            background: #7fad39;
        }

        span.status {
            position: absolute;
            top: 0;
            left: 0;
            padding: 2px 10px;
            color: #ffffff;
            font-weight: 300;
            background: #7fad39;
            font-size: 12px;
        }

        img {
            -webkit-transform: scale(1.0);
            -moz-transform: scale(1.0);
            -ms-transform: scale(1.0);
            -o-transform: scale(1.0);
            transform: scale(1.0);
        }

        &:hover,
        &:focus {
            img {
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
                transform: scale(1.1);
            }
        }
    }

    .img {
        display: block;
        height: 500px;
    }

    .icon {
        width: 60px;
        height: 60px;
        background: #ffffff;
        opacity: 0;

        span {
            color: #000000;
        }
    }

    &:hover {
        .icon {
            opacity: 1;
        }

        .img-prod {
            .overlay {
                opacity: 0;
            }
        }
    }

    .text {
        background: #ffffff;
        position: relative;
        width: 100%;

        h3 {
            font-size: 14px;
            margin-bottom: 5px;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 1px;

            a {
                color: #000000;
            }
        }

        p.price {
            margin-bottom: 0;
            color: #7fad39;
            font-weight: 400;

            span.price-dc {
                text-decoration: line-through;
                color: lighten(#000000, 70%);
            }

            span.price-sale {
                color: #7fad39;
            }
        }

        .pricing {
            width: 100%;
        }

        .bottom-area {
            position: absolute;
            bottom: 15px;
            left: 0;
            right: 0;
            opacity: 0;

            a {
                color: #ffffff;
                width: 100%;
                background: #7fad39;
                width: 40px;
                height: 40px;
                margin: 0 auto;
                border-radius: 50%;
            }

            .m-auto {
                margin: 0 auto;
            }

            // @include media-breakpoint-down(md){
            // 	opacity: 1;
            // }
        }
    }

    &:hover {
        -webkit-box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, 0.07);
        -moz-box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, 0.07);
        box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, 0.07);

        .pricing {
            opacity: 0;
        }

        .text {
            .bottom-area {
                opacity: 1;
            }
        }
    }
}

.img-prod {
    position: relative;
    display: block;
    overflow: hidden;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        opacity: 0;
        background: #7fad39;
    }

    span.status {
        position: absolute;
        top: 0;
        left: 0;
        padding: 2px 10px;
        color: #ffffff;
        font-weight: 300;
        background: #7fad39;
        font-size: 12px;
    }

    img {
        -webkit-transform: scale(1.0);
        -moz-transform: scale(1.0);
        -ms-transform: scale(1.0);
        -o-transform: scale(1.0);
        transform: scale(1.0);
    }

    &:hover,
    &:focus {
        img {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
            transform: scale(1.1);
        }
    }
}


span.status {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px 10px;
    color: #ffffff;
    font-weight: 300;
    background: #7fad39;
    font-size: 12px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .6;
    width: 50%;
    background: #7fad39;
}

.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.pricing {
    width: 100%;
}

.pricing {
    opacity: 0;
}

.price {
    font-weight: 500;
    font-size: 18px;
    color: rgba(0, 0, 0, .5);

    a {}
}

span.price-dc {
    text-decoration: line-through;
    color: lighten(#000000, 70%);
}

span.price-sale {
    color: #7fad39;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.block-27 {
    ul {
        padding: 0;
        margin: 0;

        li {
            margin-left: 10px;
            display: inline-block;
            margin-bottom: 4px;
            font-weight: 400;

            a,
            span {
                color: #000000;
                text-align: center;
                display: inline-block;
                width: 40px;
                height: 40px;
                line-height: 40px;
                border-radius: 50%;
                border: 1px solid lighten(#000000, 90%);
                background: #ffffff;
            }

            &.active {

                a,
                span {
                    background: #7fad39;
                    color: #ffffff;
                    border: 1px solid transparent;
                }
            }
        }
    }
}