body {
    background-color: #f6f9fb !important;
}

.text-small {
    font-size: 0.9rem;
}

.rounded {
    border-radius: 1rem;
}

.btxacnhan {
    background: linear-gradient(to right, #82ae46 0%, #03ae7d 200%);
    border: 0;
    border-radius: 4px;
    display: block;
    font-size: 22px;
    padding: 10px 26px;
    width: 100%;
}