.ftco-section {
    padding: 6em 0;
    position: relative;
}

.ftco-no-pt {
    padding-top: 0 !important;
}

.ftco-no-pb {
    padding-bottom: 0 !important;
}

.ftco-bg-dark {
    background: #3c312e;
}


.ftco-footer {
    font-size: 14px;
    padding: 7em 0;
    color: #000000;

    .ftco-footer-logo {
        text-transform: uppercase;
        letter-spacing: .1em;
    }

    .ftco-footer-widget {
        h2 {
            font-weight: normal;
            margin-bottom: 20px;
            font-size: 16px;
            font-weight: 500;
        }

        ul {
            li {
                font-size: 14px;
                margin-bottom: 0px;

                a {
                    color: #000000;
                }
            }
        }

        .btn-primary {
            // background: #ffffff !important;
            border: 2px solid #ffffff !important;

            &:hover {
                // background: #ffffff;
                border: 2px solid #ffffff !important;
            }
        }
    }
}

.bg-light {
    background: #f7f6f2 !important;
}

.wrap-about {
    position: relative;



    .heading-section-bold {
        h2 {
            font-size: 40px;
            font-weight: 600;
            color: #000000;
        }
    }
}

.muangay {
    background-color: #7fad39;
}